@font-face {
    font-family: aeonik-regular;
    src: url(./assets/fonts/Aeonik-Regular.otf);
}

@font-face {
    font-family: aeonik-medium;
    src: url(./assets/fonts/Aeonik-Medium.otf);
}

@font-face {
    font-family: aeonik-bold;
    src: url(./assets/fonts/Aeonik-Bold.otf);
}